.container {
  display: flex;
  .content {
    color: #fff;
    width: 400px;
    .con {
      width: 100%;
      display: flex;
      margin: 12px 18px;
      .proName {
        width: 120px;
      }
      .pro0{
        width: 150px;
        height:6px;
        margin-top: 10px;
        border-radius: 10%;
        background-color: #d33974;
      }
      .pro1{
        width: 140px;
        height:6px;
        margin-top: 10px;
        border-radius: 10%;
        background-color: #07b9ff;
      }
      .pro2{
        width: 140px;
        height:6px;
        margin-top: 10px;
        border-radius: 10%;
        background-color: #07b9ff;
      }
      .pro3{
        width: 140px;
        height:6px;
        margin-top: 10px;
        border-radius: 10%;
        background-color: #07b9ff;
      }
      .pro4{
        width: 140px;
        height:6px;
        margin-top: 10px;
        border-radius: 10%;
        background-color: #07b9ff;
      }
    }
  }
}
