.container {
    width:700px;
    height:394px;
    margin:19px 18px;
    background:rgba(6,7,107,0.2);
    border:1px solid rgba(55, 85, 218, 0.3);
    .header{
      position: absolute;
      width:283px;
      height:21px;
      margin: 11px 12px;
      display: flex;
      border:1px solid rgba(40,69,251,1);
      background:linear-gradient(0deg,rgba(3,14,106,1) 0%,rgba(4,16,131,1) 100%); 
      .headerInfo{
        width:235px;
        height:11px;
        margin-left: 30px;
        margin-top: -2px;
        font-size:10px;
        font-family:Microsoft YaHei;
        font-weight:bold;
        color:rgba(0,150,255,1);
      }
    }
    .control{
      width:60px;
      height:21px;
      float: right;
      margin-right: 20px;
      margin-top: 5px;
      display: flex;
      .con1{
        width:17px;
        height:12px;
        background-color: #8696B5;
      }
      .con2{
        width:17px;
        height:12px;
        background-color: #8696B5;
        margin-left: 5px;
      }
      .con3{
        width:17px;
        height:12px;
        background-color: #8696B5;
        margin-left: 5px;
      }
    }
    .video1{
      width:657px;
      height:357px;
      margin: 23px 22px;
      background-color: #8696B5;
    }
}
  