.container {
  .pieChart {
    margin-left: -50px;
    height: 200px;
  }
  .labels {
    width: 360px;
    height: 40px;
    text-align: center;
    margin-top: -15px;
    display: flex;
    font-size: 12px;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    .lab1 {
      color: #5259d4;
      width: 70px;
    }
    .lab2 {
      color: #8c55bc;
      width: 70px;
    }
    .lab3 {
      color: #aa4174;
      width: 70px;
    }
    .lab4 {
      color: #4775e9;
      width: 70px;
    }
    .lab5 {
      color: #02f0ff;
      width: 70px;
    }
  }
}
